defaults:
- field_index_map_override: bc_only_override
well_base_path: /mnt/gpuxl/polymathic/the_well/datasets/
wandb_data_name: BubbleML-PoolBoiling-Subcooled
module_parameters:
  _target_: walrus.data.MixedWellDataModule
  batch_size: 8
  n_steps_input: 10
  n_steps_output: 1
  min_dt_stride: 1
  max_dt_stride: 1
  max_samples: 2000
  max_rollout_steps: 200
  well_dataset_info:
    pdea_ins:
      include_filters: []
      exclude_filters: []
      path: /home/krosenfeld/projects/walrus-workshop/notebooks/processed_data
      normalization_path: stats.yaml